<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Analyzer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
            <img src="https://media-hosting.imagekit.io/6cac2e28aa7e4516/EduMancer.png?Expires=1839555283&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=tQF2SIg37tzB8UgJJdyq5paDjc2tEWWXd6tjCo7EJX0vQyholQu4g6ukr9z2umWgrSEyxIiqtWQRmlTEwbyeTMNPi3RIoCE-Gz7eEspeGPlUrvHA3tG4I8lcEaCEDp-JcemrP1IrbDR6NS8E7krd3lDGU6RtxZHes1ta1dkNyyGe~luMDQmRnIYAFjrEyy7s-kkikZmfw45b~Wufx2phIAssIsmEcSniP3-YZeWWEKt3frYn19PVttjkhAsQYvKLn2fyPsNae9pCaeC7KTTRqa3X9qTYbi7QbWi0Z1aAgpexnZIYKkIB6AEUNsnqcpK~l3yoEsozCsVGco2C1H-a2Q__" alt="EduMancer Logo" class="logo">
    </header>
    <main>
        <h1>Upload, Relax, and Let EduMancer Do the Analysis for You!</h1>
        <p>Powered by Gemini-2.0-flash</p>

        <div class="analysis-type">
            <h2>Select Analysis Type:</h2>
            <div class="toggle-container">
                <input type="radio" id="question_papers" name="analysis_type" value="question_papers" checked>
                <label for="question_papers">Question Papers Analysis</label>
                
                <input type="radio" id="test_papers" name="analysis_type" value="test_papers">
                <label for="test_papers">Test Papers Analysis</label>
            </div>
        </div>

        <div class="analysis-description" id="question_papers_desc">
            <p>Upload question papers to find most frequently asked questions and important topics.</p>
        </div>
        <div class="analysis-description" id="test_papers_desc" style="display: none;">
            <p>Upload student test papers to identify key problems and get improvement suggestions.</p>
        </div>

        <section class="upload-section">
            <label for="pdf_files" class="drop-container" id="dropcontainer">
                <span class="drop-title">Drop PDF files here</span>
                or
                <input type="file" id="pdf_files" multiple accept=".pdf">
            </label>
        </section>
        <button id="upload-btn">Upload and Analyze</button>
        
        <section class="result-section">
            <div class="loader" id="loader" style="display: none;"></div>
            <div id="result-text"></div>
        </section>
    </main>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>